* {
	margin: 0;
	font-size: 100%;
}
.problem {
	display: inline-block;
	margin-bottom: 14px;
	vertical-align: top;
}
.content .problem {
	width: 75%;
}
.content .problem, .content .tabs-menu_role_problems {
	vertical-align: top;
}
.island {
	background: #fff;
	-webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
	-ms-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
	-o-box-shadow: 0 0 0 1px rgba(0,0,0,.1);
}
.content {
	font-size: 14px;
}
.content_theme_contest {
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
}
.page__sect {
	width: 960px;
	margin: 0 auto;
}
body {
	position: relative;
	z-index: 0;
	margin: 0;
	padding: 0 0 1em;
	font: .8em Arial,Helvetica,sans-serif;
	color: #000;
	background: #fff;
}
.b-page {
	min-width: 1000px;
}
a img, fieldset {
	border: 0;
}
.problem__item {
	padding: 0;
}
.problem_mode_one-button .problem__item {
	min-width: 0px;
}
.problem__send {
	display: inline-block;
}
.problem__attempts {
	display: inline-block;
	margin-left: 25px;
}
.problem__problems-nav {
	padding-right: 14px;
}
.problem__problems-nav-right {
	float: right;
}
a {
	text-decoration: none;
}
:link {
	color: #1a3dc1;
}
:link, :visited {
	text-decoration: underline;
}
.button {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	white-space: nowrap;
	outline: 0;
}
/* @media all and (min-width:0px) */
.button {
	border: 0;
	background: 0 0;
}
.button {
	cursor: pointer;
}
a.button_theme_normal, .button_theme_normal {
	font-family: Arial,sans-serif;
	color: #000;
}
/* @media all and (min-width:0px) */
.button_theme_normal {
	border-radius: 3px;
}
.button_size_s {
	font-size: 13px;
}
/* @media all and (min-width:0px) */
.button_size_s {
	line-height: 28px;
}
.button_disabled_yes {
	cursor: default !important;
}
a.button:link, a.button:visited, a.button:hover {
	text-decoration: none;
	outline: hidden;
}
.button__text {
	position: relative;
	pointer-events: none;
}
.button_size_s .button__text {
	padding: 0 13px;
}
body .msg {
	position: relative;
	margin: 10px 0;
	padding: 15px 15px 15px 25px;
	white-space: pre-wrap;
	font-size: 14px;
	line-height: 15px;
}
.content .problem .msg {
	margin: 0 0 0 10px;
	padding: 15px 15px 15px 25px;
}
.image {
	font: 0/0 a;
	border: 0;
}
.msg__icon {
	position: absolute;
	left: 5px;
}
.msg_type_info .msg__icon {
	width: 15px;
	height: 15px;
	margin-top: -1px;
	background: 0 -15px no-repeat url("../../_/N_ugIh-KyrpLwoQBznB7IdtPeMs.png");
}
code, input, textarea {
	font-family: Arial,Helvetica,sans-serif;
}
a.button_theme_action, .button_theme_action {
	font-family: Arial,sans-serif;
	color: #000;
}
/* @media all and (min-width:0px) */
.button_theme_action {
	border-radius: 3px;
}
.text {
	color: #000;
	font-size: 15px;
	line-height: 20px;
}
.problem__statement {
	padding: 0 40px;
	line-height: 18px;
}
.problem__messages {
	padding: 14px;
	background-color: #fff;
}
.problem__solution {
	margin-top: 28px;
}
.solution {
	display: inline-block;
	margin-bottom: 1em;
	padding-right: 1em;
}
.solution_type_group {
	display: block;
}
.solution__field {
	margin-bottom: 1em;
}
.solution__pane {
	display: none;
}
.solution__pane_selected_yes {
	display: block;
}
.attach {
	display: inline-block;
	white-space: nowrap;
}
.attach__holder {
	display: inline-block;
	margin-left: 0.5em;
}
.attach_size_s, .attach_size_s .attach__holder {
	font-size: 13px;
	line-height: 28px;
}
.button_disabled_yes, a.button_disabled_yes .button__text {
	color: #aaa !important;
}
/* @media all and (min-width:0px) */
.attach__button {
	overflow: hidden;
	cursor: default;
	vertical-align: top;
}
/* @media all and (min-width:0px) */
.button_disabled_yes.button {
	background: rgba(0,0,0,.08) !important;
}
.attach_disabled_yes .attach__holder {
	opacity: 0.6;
}
.attach__icon-file {
	margin-right: 3px;
	padding: 15px 15px 0 0;
	background: url("../../_/4me0iliC4OKERBOBlRoFzs6cj2k.png") no-repeat;
}
.attach__reset_visibility_visible {
	visibility: visible;
	opacity: 0.2;
}
.attach .image {
	width: 1px;
	height: 1px;
	vertical-align: middle;
}
.attach__holder_state_hidden .image {
	display: none;
}
.attach__holder_file_none .attach__icon-file, .attach__holder_file_unknown .attach__icon-file {
	background-position: 0 0;
}
.attach__reset {
	margin-left: 5px;
	padding: 12px 12px 0 0;
	cursor: pointer;
	background: url("../../_/1NHNyJyMowfy_B6k5HvO9kXPtIQ.svg") no-repeat;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
/* @media all and (min-width:0px) */
.attach__control {
	position: absolute;
	right: 0px;
	height: 100%;
	cursor: pointer;
	font-size: 186%;
	opacity: 0;
	border: none;
	background: 0 0;
}
.attach_disabled_yes .attach__control {
	cursor: default;
}
.input {
	position: relative;
	display: inline-block;
	width: 100%;
}
/* @media all and (min-width:0px) */
.input__control {
	padding: .4em 0;
	border: 0;
	outline: 0;
	background: 0 0;
}
.input_theme_normal, .input_theme_normal .input__control {
	font-family: Arial,sans-serif;
	color: #000;
}
.input_size_s {
	font-size: 13px;
	line-height: 28px;
}
.input_type_textarea {
	vertical-align: top;
}
.input__box {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: text;
}
/* @media all and (min-width:0px) */
.input_theme_normal .input__box {
	background: #fff;
}
.input_size_s .input__box {
	padding-right: 22px;
}
.input.input_type_textarea .input__box {
	padding: 1px 1px 1px 0;
}
.solution_type_group .input_type_textarea .input__box {
	padding: 1px;
}
.input__control {
	position: relative;
	z-index: 3;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	margin: 0;
	text-overflow: ellipsis;
	font-size: 100%;
	color: #000;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none;
}
.input_size_s .input__control {
	padding-left: 7px;
}
/* @media all and (min-width:0px) */
.input_type_textarea .input__control {
	display: block;
	padding-top: 0.4em;
	padding-right: 1px;
	padding-bottom: 1px;
	resize: vertical;
	vertical-align: baseline;
	-webkit-overflow-scrolling: touch;
}
body .input_type_textarea .input__control {
	height: auto;
	min-height: 2em;
}
.CodeMirror {
	font-family: monospace;
	height: 300px;
}
.CodeMirror {
	line-height: 1;
	position: relative;
	overflow: hidden;
	background: #fff;
	color: #000;
}
.solution_type_group .CodeMirror {
	height: auto;
}
.input__clear {
	position: absolute;
	z-index: 5;
	top: 0px;
	right: 0px;
	bottom: 0px;
	visibility: hidden;
	margin: 0;
	padding: 0;
	opacity: 0;
	background: url("../../_/K4e4uv8u9I9wb1fi17d8-3Jnr2A.svg") 50% 50% no-repeat;
	-webkit-transition: visibility 0s linear .1s,opacity .1s ease-out;
	transition: visibility 0s linear .1s,opacity .1s ease-out;
}
.input__clear_visibility_visible {
	visibility: visible;
	cursor: pointer;
	opacity: 0.3;
	-webkit-transition: opacity .1s ease-out;
	transition: opacity .1s ease-out;
}
.input_size_s .input__clear {
	width: 28px;
	-webkit-background-size: 10px;
	background-size: 10px;
}
/* @media all and (min-width:0px) */
.input_type_textarea .input__clear {
	display: none;
}
.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
	background-color: #fff;
}
.CodeMirror-vscrollbar, .CodeMirror-hscrollbar, .CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
	position: absolute;
	z-index: 6;
	display: none;
}
.CodeMirror-hscrollbar {
	bottom: 0px;
	left: 0px;
	overflow-y: hidden;
	overflow-x: scroll;
}
.CodeMirror-vscrollbar {
	right: 0px;
	top: 0px;
	overflow-x: hidden;
	overflow-y: scroll;
}
.CodeMirror-scrollbar-filler {
	right: 0px;
	bottom: 0px;
}
.CodeMirror-gutter-filler {
	left: 0px;
	bottom: 0px;
}
.CodeMirror-scroll {
	overflow: auto;
}
.CodeMirror-scroll {
	margin-bottom: -30px;
	margin-right: -30px;
	padding-bottom: 30px;
	height: 100%;
	outline: none;
}
.CodeMirror-scroll, .CodeMirror-sizer {
	position: relative;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.solution_type_group .CodeMirror-scroll {
	min-height: 200px;
	max-height: 500px;
}
.CodeMirror-sizer {
	border-right: 30px solid transparent;
}
.CodeMirror-gutters {
	border-right: 1px solid #ddd;
	background-color: #f7f7f7;
	white-space: nowrap;
}
.CodeMirror-gutters {
	position: absolute;
	left: 0px;
	top: 0px;
	padding-bottom: 30px;
	z-index: 3;
}
.CodeMirror-gutter {
	white-space: normal;
	height: 100%;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	padding-bottom: 30px;
	margin-bottom: -32px;
	display: inline-block;
	*zoom:1: ;
	*display:inline: ;
}
.CodeMirror-lines {
	padding: 4px 0;
}
.CodeMirror-lines {
	cursor: text;
}
.CodeMirror-measure {
	position: absolute;
	width: 100%;
	height: 0px;
	overflow: hidden;
	visibility: hidden;
}
div.CodeMirror-cursors {
	visibility: hidden;
	position: relative;
	z-index: 1;
}
.CodeMirror pre {
	padding: 0 4px;
}
.CodeMirror pre {
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	border-width: 0;
	background: 0 0;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	white-space: pre;
	word-wrap: normal;
	line-height: inherit;
	color: inherit;
	z-index: 2;
	position: relative;
	overflow: visible;
}
.CodeMirror span {
	*vertical-align:text-bottom: ;
}
.cm-s-neat span.cm-keyword {
	line-height: 1em;
	font-weight: 700;
	color: #00f;
}
.cm-s-neat span.cm-variable {
	color: #000;
}
.CodeMirror-linenumber {
	padding: 0 3px 0 5px;
	min-width: 20px;
	text-align: right;
	color: #999;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.CodeMirror-gutter-elt {
	position: absolute;
	cursor: default;
	z-index: 4;
}
.cm-s-neat span.cm-builtin {
	line-height: 1em;
	font-weight: 700;
	color: #077;
}
.cm-s-neat span.cm-string {
	color: #a22;
}
.CodeMirror div.CodeMirror-cursor {
	border-left: 1px solid #000;
}
.CodeMirror div.CodeMirror-cursor {
	position: absolute;
	border-right: none;
	width: 0px;
}
.radio-button {
	display: inline-block;
	white-space: nowrap;
	border-radius: 3px;
}
.radio-button_size_s {
	font-size: 13px;
	line-height: 28px;
}
.i-ua_js_yes .radio-button_theme_normal {
	font-family: Arial,sans-serif;
	color: #000;
}
.radio-button__radio {
	position: relative;
	z-index: 2;
	display: inline-block;
	margin: 0 -1px 0 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
	outline: 0;
}
.radio-button__radio {
	cursor: pointer;
}
.radio-button__radio_side_right, .radio-button__radio_side_right::before {
	right: 0px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}
.radio-button__radio_side_left, .radio-button__radio_side_left::before {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.i-ua_js_yes .radio-button__control {
	position: absolute;
	opacity: 0;
}
.radio-button__text {
	position: relative;
	z-index: 1;
	padding: 0 1em;
	pointer-events: none;
}
.solution__label {
	padding-right: 1em;
}
.select {
	display: inline-block;
}
.select_theme_normal, .select__popup_theme_normal .select__item {
	font-family: Arial,sans-serif;
}
.select_size_s, .select__popup_size_s .select__item {
	font-size: 13px;
}
.select_size_s {
	line-height: 28px;
}
.select__button {
	max-width: 100%;
	text-align: left;
	vertical-align: top;
}
.select_layout_fixed-l, .select_layout_fixed-l .select__button, .select__popup_layout_fixed-l, .select__popup_layout_fixed-l .select__item {
	width: 200px;
}
.i-ua_js_no .select__button, .i-ua_js_yes .select__control {
	display: none;
}
.select__button .button__text {
	display: block;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}
.button_size_s.button.button_arrow_down .button__text, .button_size_s.button.button_arrow_up .button__text {
	padding-right: 28px;
}
.header {
	width: 100%;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	font-weight: 400;
}
table, th, td {
	border-collapse: collapse;
}
th, td {
	padding: 0;
	text-align: left;
	vertical-align: top;
}
.text * {
	margin: 0;
	padding: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
}
.text div, .text ol, .text ul {
	margin: 0;
	padding: 0;
}
.header {
	position: relative;
	z-index: 10;
}
.text li, .text h1, .text h2, .text h3, .text h4 {
	padding: 0;
}
.text h2 {
	margin: 0 0 20px;
	font-size: 25px;
	line-height: 30px;
}
.text table + h2, .text p + h2, .text ul + h2, .text ol + h2, .text dl + h2, .text div + h2, .text h1 + h2, .text table + div h2:first-of-type, .text p + div h2:first-of-type, .text ul + div h2:first-of-type, .text ol + div h2:first-of-type, .text dl + div h2:first-of-type, .text div + div h2:first-of-type, .text h1 + div h2:first-of-type {
	margin-top: 40px;
}
.text h3 {
	margin: 0 0 10px;
	font-size: 20px;
	line-height: 25px;
}
.text table + h3, .text p + h3, .text ul + h3, .text ol + h3, .text dl + h3, .text div + h3, .text h2 + h3, .text table + div h3:first-of-type, .text p + div h3:first-of-type, .text ul + div h3:first-of-type, .text ol + div h3:first-of-type, .text dl + div h3:first-of-type, .text div + div h3:first-of-type, .text h2 + div h3:first-of-type {
	margin-top: 30px;
}
.text table {
	padding: 0;
}
.text table {
	margin: 20px -20px;
	border-collapse: collapse;
	font-size: 14px;
}
.problem__statement table.sample-tests {
	width: 100%;
	margin-left: -14px;
	border-collapse: collapse;
}
.text tr, .text var, .text blockquote, .text pre, .text img {
	margin: 0;
	padding: 0;
}
.text tr {
	border-bottom: 1px solid #e5e5e5;
}
.problem__statement tr {
	border: 1px solid #bfbfbf;
}
.problem__statement table.sample-tests tr {
	border: 0;
	border-bottom: 1px solid #dadada;
}
.text th, .text td {
	margin: 0;
}
.text th {
	border-bottom: 1px solid #000;
}
.text td, .text th {
	padding: 5px 20px 4px;
	vertical-align: middle;
}
.text td {
	height: 41px;
	font-size: 14px;
	line-height: 17px;
}
.text th {
	height: 58px;
	font-size: 18px;
	line-height: 22px;
}
.problem__statement th, .problem__statement td {
	height: auto;
	padding: 5px 10px 4px;
	border: 1px solid #bfbfbf;
}
.problem__statement td {
	line-height: 18px;
}
.problem__statement th {
	border-bottom: none;
	background-color: #f2f2f2;
	font-size: 15px;
	line-height: 20px;
}
.problem__statement table.sample-tests th {
	padding-bottom: 6px;
	text-align: left;
	background: 0 0;
	font-weight: 700;
}
.problem__statement table.sample-tests th, .problem__statement table.sample-tests td {
	width: 50%;
	padding-left: 14px;
	vertical-align: top;
	border: 0;
}
.text table pre {
	overflow-x: auto;
	max-width: 290px;
}
.problem__statement table.sample-tests pre {
	margin: 4px 0;
	line-height: 1.7em;
}
.MathJax_Preview {
	color: #888;
}
.mjx-chtml {
	display: inline-block;
	line-height: 0;
	text-indent: 0px;
	text-align: left;
	text-transform: none;
	font-style: normal;
	font-weight: normal;
	font-size: 100%;
	font-size-adjust: none;
	letter-spacing: normal;
	word-wrap: normal;
	word-spacing: normal;
	white-space: nowrap;
	float: none;
	direction: ltr;
	max-width: none;
	max-height: none;
	min-width: 0px;
	min-height: 0px;
	border: 0;
	margin: 0;
	padding: 1px 0;
}
.mjx-math {
	display: inline-block;
	border-collapse: separate;
	border-spacing: 0px;
}
.mjx-math * {
	display: inline-block;
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
	text-align: left;
}
.MJXc-space2 {
	margin-left: 0.22em;
}
.mjx-char {
	display: block;
	white-space: pre;
}
.MJXc-TeX-math-I {
	font-family: MJXc-TeX-math-I,MJXc-TeX-math-Ix,MJXc-TeX-math-Iw;
}
.MJXc-TeX-main-R {
	font-family: MJXc-TeX-main-R,MJXc-TeX-main-Rw;
}
.MJXc-space3 {
	margin-left: 0.27em;
}
.MJXc-space1 {
	margin-left: 0.16em;
}
.text .mjx-chtml * {
	line-height: inherit;
	font-size: inherit;
	font-weight: inherit;
}
.text h1 {
	margin: 0 0 40px;
	font-family: "textbook",Arial,Helvetica,sans-serif;
	font-size: 35px;
	line-height: 40px;
}
.problem-statement .header table {
	margin-left: 0px;
}
.problem-statement .header th, .problem-statement .header td {
	padding-right: 14px;
	padding-left: 14px;
}
